- page_title 'Artifacts', "#{@build.name} (##{@build.id})", 'Builds'
= render 'projects/builds/header_title'

.top-block.gray-content-block.clearfix
  .pull-right
    = link_to download_namespace_project_build_artifacts_path(@project.namespace, @project, @build),
      class: 'btn btn-default' do
      = icon('download')
      Download artifacts archive

.tree-holder
  %div.tree-content-holder
    %table.table.tree-table
      %thead
        %tr
          %th Name
          %th Size
          %th Compressed to
      = render partial: 'tree_directory', collection: @entry.directories(parent: true), as: :directory
      = render partial: 'tree_file', collection: @entry.files, as: :file

- if @entry.empty?
  .center Empty

:javascript
  $(document).on('click', 'tr[data-link]', function(e) {
    window.location = this.dataset.link;
  });
